*{
  font-family: cursive;
}
body {
  margin: 0;
 
  background: #f7f7f7;
  
}

.navbar {
  background: #111;
  color: white;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  font-size:larger;
  
}

.nav-links a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
  
}

.container {
  padding: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.product-card {
  background: white;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.product-card img {
  height: 550px;
  width: 400px;
  
}

.cart-item {
  background: white;
  padding: 10px;
  margin: 10px 0;
  display: inline-flex;
  justify-content: space-between;
  border-radius: 5px;
}

.footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
  position: relative;
  bottom: 0;
  width: 100%;
}
